[Unit]
Description=OxWg Panel Node Agent (Flask + Gunicorn)
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/root/wg/agent

EnvironmentFile=/root/wg/agent/.env
Environment=USE_GUNICORN=1
Environment=FLASK_ENV=production
ExecStart=/root/wg/agent/venv/bin/python /root/wg/agent/node_agent.py

Restart=always
RestartSec=5

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

